


.node-option-row{
    display: flex;
   
    flex-direction: row;  
    margin: 5px;
}

.node-option{
    flex: 1;
    text-align: center;
    border-color: bisque;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    height: 25px;
    
    background-position-x: -19px;
    background-position-y: -19px;
    background-size: 40px 40px;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(244, 245, 248);
}
