

.node{
    display: flex;
    flex-direction: row;
    
}


.title{
    display: flex;
    align-self: flex-start;
    color: #2c3543;
    margin-left: 10px;
    
}


.body{
    margin: 10px;
    width: 250px;
    padding: 10px;
    height: auto;
    background-color: #f9fafb;
    border-color: #f5f6f8;
    border: 2px;
    height: auto;
    border-radius: 5px;
}

.port{
    align-self: center;
    height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  text-size-adjust: auto;
  z-index: 10;
}

.actions{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: flex-end;

    height: 30px;
}