.button-node_selected {
    display: flex;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    transition: border 300ms ease 0s, box-shadow 200ms ease 0s;
    transition-property: border, box-shadow;
    transition-duration: 300ms, 200ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    height: 100px;
    border-radius: 8px;

}


.button-node-selected {
    display: flex;
    width: 300px;
    background-color: bisque;
    border-width: 5px;
    border-color: green;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    height: 100px;
    border-radius: 8px;
}


.header {
    height: 100px;
    text-align: center;
    flex-direction: column;
    display: flex;
}


.body {
    height: 200px;
    text-align: center;
    flex-direction: column;
    display: flex;
}


.content {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px
}

.node {
    display: flex;
    flex-direction: row;
}

.node1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.title {
    display: flex;
    align-self: flex-start;
    color: #2c3543;
    margin-left: 10px;

}


.body {
    margin: 10px;
    width: 250px;
    padding: 10px;
    height: auto;
    background-color: #f9fafb;
    border-color: #f5f6f8;
    border: 2px;
    height: auto;
    border-radius: 5px;
}

.port {
    align-self: center;
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    text-size-adjust: auto;
    z-index: 10;
}

.actions {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: flex-end;

    height: 30px;
}

.ports-out{
    display: flex;
    flex-direction: column;
}

.portsContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    
}

.button{
    display: flex;
    flex-direction: row;
}